body {
    background-color: whitesmoke;
}

h1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to right,
    blue,
    greenyellow);
    -webkit-background-clip: text;
    color: transparent;
}